@{
    ViewBag.Title = "GioiThieu";
}
<div id="mySlides" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#mySlides" data-slide-to="0" class="active"></li>
        <li data-target="#mySlides" data-slide-to="1"></li>
        <li data-target="#mySlides" data-slide-to="2"></li>
        <li data-target="#mySlides" data-slide-to="3"></li>
        <li data-target="#mySlides" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" id="slide1">
            <img class="d-block w-100" src="~/Content/Img_Show/QC.GioiThieu/GT1.jpg" width="100%" height="350px" alt="First slide">
        </div>
        <div class="carousel-item" id="slide2">
            <img class="d-block w-100" src="~/Content/Img_Show/QC.GioiThieu/GT2.jpg" width="100%" height="350px" alt="Second slide">
        </div>
        <div class="carousel-item" id="slide3">
            <img class="d-block w-100" src="~/Content/Img_Show/QC.GioiThieu/GT3.png" width="100%" height="350px" alt="Third slide">
        </div>
        <div class="carousel-item" id="slide4">
            <img class="d-block w-100" src="~/Content/Img_Show/QC.GioiThieu/GT4.jpg" width="100%" height="350px" alt="Four slide">
        </div>
    </div>
    </div>


    <h1 style="text-align:center;font-size:large; color:black;padding:30px;"> <marquee direction="left">FPT Shop - Trân trọng từng giây phút được phục vụ khách hàng</marquee></h1>
    <div style="text-align:-webkit-auto ;padding-left: 250px;padding-right: 200px;">
        <div>
            <h2 style=" text-align:center; font-size: 20px; color:brown"> <i>Tầm nhìn </i></h2>
            <ul>
                <li>

                    Cùng với sự phát triển của xã hội và thị trường công nghệ, Công ty Cổ phần Bán lẻ Kỹ thuật số FPT đã, đang và sẽ nỗ lực không ngừng để trở thành đối tác uy tín đối với các nhà sản xuất Kỹ thuật số hàng đầu thế giới, đồng thời là điểm đến tin cậy của khách hàng Việt Nam.

                </li>
            </ul>
        </div>

        <div>
            <h2 style=" text-align:center; font-size: 20px; color:brown"> <i>Sứ mệnh </i></h2>
            <ul>
                <li>

                    Với mục tiêu mở rộng độ phủ cửa hàng trên toàn quốc, Công ty Cổ phần Bán lẻ Kỹ thuật số FPT hướng tới trở thành Hệ thống bán lẻ các sản phẩm Viễn thông Kỹ thuật số hàng đầu Việt Nam. Cùng với quy mô ngày càng lớn, FPT Shop sẽ cung cấp tới mọi tầng lớp khách hàng những trải nghiệm mua sắm tích cực, thông qua các sản phẩm Kỹ thuật số chính hãng chất lượng cao, giá cả cạnh tranh đi kèm dịch vụ chăm sóc khách hàng thân thiện, được đảm bảo bởi uy tín của doanh nghiệp.


                </li>
            </ul>
        </div>

        <div>
            <h2 style=" text-align:center; font-size: 20px; color:brown"> <i>Giá trị cốt lõi </i></h2>
            <ul>

                <li>Chất lượng: Luôn đi đầu trong việc gây dựng uy tín, trách nhiệm để đảm bảo chất lượng sản phẩm, FPT Retail đem đến cho khách hàng sự an tâm tuyệt đối khi mua sắm các sản phẩm công nghệ.</li>
                <li>Tin cậy: : Chữ “tín” chính là điều mà FPT Retail luôn chú trọng trong hoạt động phát triển thương hiệu, là điểm tựa niềm tin vững chắc cho khách hàng, là đối tác tin cậy với các hãng công nghệ.</li>
                <li>Thân thiện: Hình ảnh FPT Retail thân thiện với khách hàng và tích cực trong các hoạt động cộng đồng chính là hướng đi lâu dài.</li>
                <li>Chăm sóc: Với mục tiêu phục vụ khách hàng là ưu tiên số một, FPT Retail đang ngày càng hoàn thiện hơn chất lượng dịch vụ, đào tạo đội ngũ nhân viên nhiệt tình, trung thực, chân thành, làm hài lòng bất cứ khách hàng nào đến mua sắm.</li>
            </ul>
        </div>

        <div>
            <h2 style=" text-align:center; font-size: 20px; color:brown"> <i>Giới thiệu chung</i></h2>
            <ul>
                <li>
                    Công ty Cổ phần Bán lẻ Kỹ thuật số FPT (gọi tắt là FPT Retail) được thành lập từ năm 2012 tại Việt Nam, là một thành viên của Tập đoàn FPT, sở hữu 2 chuỗi bán lẻ là FPT Shop và F.Studio By FPT với tổng số cửa hàng là 500 trên khắp 63 tỉnh thành (tính đến tháng 4/2018).
                </li>
                <li>
                    Hệ thống bán lẻ FPT Shop là chuỗi chuyên bán lẻ các sản phẩm kỹ thuật số di động bao gồm điện thoại di động, máy tính bảng, laptop, phụ kiện và dịch vụ công nghệ… FPT Shop là hệ thống bán lẻ đầu tiên ở Việt Nam đuợc cấp chứng chỉ ISO 9001:2000 về quản lý chất luợng theo tiêu chuẩn quốc tế. Hiện nay, FPT Shop là chuỗi bán lẻ lớn thứ 2 trên thị trường bán lẻ hàng công nghệ.
                </li>
                <li>
                    Chuỗi cửa hàng F.Studio By FPT: Là chuỗi cửa hàng được ủy quyền chính thức của Apple tại Việt Nam ở cấp độ cao cấp nhất, chuyên kinh doanh các sản phẩm chính hãng của Apple. FPT Retail là công ty đầu tiên có chuỗi bán lẻ với đầy đủ mô hình cửa hàng của Apple bao gồm: Cấp 1 là APR (Apple Premium Reseller), cấp 2 AAR (Apple Authorised Reseller) và iCorner, mang đến cho khách hàng không gian tuyệt vời để trải nghiệm những sản phẩm công nghệ độc đáo, tinh tế của Apple cùng dịch vụ bán hàng và chất lượng chăm sóc khách hàng cao cấp và thân thiện nhất.
                </li>

                <li>
                    Trong suốt nhiều năm qua, bằng những nỗ lực không mệt mỏi, trung thành với chính sách “tận tâm phục vụ khách hàng”, FPT Retail quyết tâm hoạt động, xây dựng phong cách phục vụ khách hàng cho tất cả các mảng kinh doanh dù mới hay cũ, lấy đó làm nền tảng tăng trưởng bền vững, hoàn thiện hình ảnh một thương hiệu gần gũi, thân thiện và hướng tới mục tiêu phục vụ khách hàng là ưu tiên hàng đầu .
                </li>

                <li>
                    Luôn đặt khách hàng làm trung tâm trong mọi suy nghĩ và hành động, FPT Shop đã xây dựng được một đội ngũ nhân viên với phong cách làm việc chuyên nghiệp, nhiệt tình và tận tâm với khách hàng. Bên cạnh đó, chúng tôi đã, đang và sẽ tiếp tục xây dựng trung tâm kinh doanh trực tuyến hiện đại nhất để khách hàng có thể tìm thấy FPT Shop dễ dàng và nhanh nhất.
                </li>

                <li>
                    Sự đầu tư nghiêm túc và nỗ lực không ngừng của FPT Retail đã được cộng đồng ghi nhận qua số lượt khách hàng đến tham quan mua sắm tăng mạnh và ổn định trong suốt nhiều năm qua. Sau 6 năm hoạt động, FPT Retail đã tạo dựng được niềm tin nơi Quý khách hàng khi là nhà bán lẻ đứng thứ 1 về thị phần máy tính xách tay tại Việt Nam (từ năm 2015 đến nay), đứng thứ 2 về thị phần điện thoại và là nhà bán lẻ Apple chính hãng hàng đầu tại Việt Nam với đầy đủ các chuẩn cửa hàng từ cấp độ cao nhất APR và là top 4 nhà bán lẻ hàng đầu Việt Nam.
                </li>

                <li>
                    Kết thúc năm 2017, FPT Shop đạt doanh thu 13.147 tỉ đồng, lợi nhuận trước thuế đạt 363 tỉ đồng. Trong đó, doanh thu bán hàng trực tuyến đạt 2,034 tỉ đồng, tăng trưởng 68% so với năm 2016 và chiếm 15.47% tổng doanh thu của công ty.
                </li>

                <li>
                    FPT Retail cũng vinh dự được nhận nhiều giải thưởng: Top 100 giải thưởng “Sản phẩm, dịch vụ uy tín chất lượng” do người tiêu dùng bình chọn (Hội Tiêu chuẩn và bảo vệ người tiêu dùng Việt Nam tổ chức), được vinh danh Thương hiệu mạnh Việt Nam liên tiếp trong 3 năm 2013, 2014, 2015  và năm 2017 (Thời báo Kinh tế Việt Nam tổ chức), Nhà bán lẻ được yêu thích nhất 2016 do Thời báo Kinh tế VN bình chọn. Tính đến tháng 7/2017, FPT Retail lọt vào Top 4 nhà bán lẻ hàng đầu ở Việt Nam, Top 500 nhà bán lẻ hàng đầu Châu Á – Thái Bình Dương (Retail Asia). Tháng 11/2017, FPT Retail đã lọt Top 10 nhà bán lẻ uy tín do Công ty cổ phần Báo cáo đánh giá VN (Vietnam Report) và báo điện tử Vietnamnet tiến hành khảo sát. Theo Euromonitor và Retail Asia Publishing, với doanh thu 15.717 USD / m2, FPT Retail là nhà bán lẻ hiệu quả nhất Việt Nam.
                </li>

            </ul>
        </div>

    </div>






