@using Web_FPT.Models
@model List<SanPham>

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/QuanLy.cshtml";
}

<a>
    @if (Session["ten"] != null)
    {
        <div>Hello @Session["ten"]</div>
    }
</a>

