<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title>FPTSHOP</title>
    @using Web_FPT.Models;
    @using Web_FPT.Controllers;
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" />
    <link href="~/Content/CSS/login.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/6b02239e17.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
</head>
<body style="background-image: url('../../Content/admin/logo-fpt-shop.jpg');background-size:cover;background-repeat:no-repeat;">
    @RenderBody()
</body>
</html>
